@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #1e1e1e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #920b5e;
}

.cardScrl::-webkit-scrollbar {
  display: none;
}